/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  /*background-color: black;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Unica One', cursive;*/
  /*font-family: 'Alegreya Sans SC', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Merriweather Sans', sans-serif;*/
  font-family: 'Carme', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}

.custom-logo-l{
	position:absolute;
	z-index: 9999;
	top:5px;
	padding-left: 10px;	
    height: 80px;
}
.custom-logo-r{
	position:absolute;
	z-index: 9999;
	top:5px;
	right: 0px;
}
.navbar {
	border-radius: 0px;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
    /*font-family: 'Alegreya Sans SC', sans-serif;*/
    font-size: 18px;
    font-weight:300;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #000;
	background-color: #ebebeb;
}


.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
    border: 0px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #f5f5f5;
}

.jumbotron {
    background-color: #000;
    color: inherit;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 0px !important;
    padding: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}

/*method 1 for video embed:*/
.flex-video {
position: relative;
padding-top: 0px; /*25px;*/
padding-bottom: 0px; /*67.5%;*/
height: 0;
margin-bottom: 0px /*16px;*/
overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }

/*method 2 for video embed*/
.video-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 56.25%; /* fine tunes the video positioning */ 
   padding-top: 60px; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
